.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.messageButton {
  background-color: purple;
  color: white;
  margin-bottom: 20px;
}

.messageButton:disabled {
  cursor: not-allowed;
  background-color: rgba(128, 0, 128, 0.5);
}

label {
  display: flex;
}

input, textarea {
  margin-left: 10px;
}