.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messageButton {
  background-color: purple;
  color: white;
  margin-bottom: 20px;
}

label {
  display: flex;
}

input, textarea {
  margin-left: 10px;
}